.wjy-y1box{
	width: 100%;
	padding: 0.3rem 0.24rem;
	background-color: #fff;
	border-radius: 0.1rem;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}
.wjy-y2{
	width: 100%;
	height: 1.2rem;
	background-color: #74ecfe;
	border-radius: 0.1rem;
	position: relative;
}
.wjy-y2:nth-child(2){
	margin:  0.12rem 0px;
}
.wjy-img1{
	width: 0.78rem;
	height: 0.78rem;
	background-color: #fff;
	border-radius: 50%;
	padding: 0.04rem;
	line-height: 0px;
	overflow: hidden;
	line-height: 0.78rem;
	position: absolute;
	top: 0.2rem;
	left: 0.25rem;
}
.wjy-img1 img{
	width: 100%;
	font-size: 0px;
	display:block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.wjy-y3{
	display: block;
	position: absolute;
	top: 0.29rem;
	left: 1.3rem;
	font-size: 16px;
	color: #fff;
}
.wjy-y4{
	display: block;
	position: absolute;
	top: 0.8rem;
	left: 1.3rem;
	font-size: 10px;
	color: #fff;
}
.wjy-dianji{
	width:0.9rem;
	height:0.4rem;
	background-color:#f2f2f2;
	border-radius: 0.18rem;
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right:0.2rem;
	text-align: center;
	line-height: 0.4rem;
	font-size: 10px;
}
.wjy-dianji img{
	width: 100%;
}
.wjy-yy123{
	background-color: transparent;
	overflow: hidden;
}


.wjy-barner{
	width: 100%;
	height: 3rem;
	background-color: #fff;
	border-radius: 0.1rem;
	position: relative;
	padding-top: 0.01rem;
	margin-bottom: 3.48rem;
}
.wjy-head{
	width: 100%;
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0.4rem;
}
.wjy-head span{
	display: inline-block;
	font-size: 14px;
}
.wjy-head img{
	height: 0.01rem;
	vertical-align: middle;
	font-size: 0px;
	display: inline-block;
}
.swiper-container,.swiper-wrapper{
	width: 100%;
}
.swiper-slide{
	display: inline-block;
	width:3.38rem!important;
	height: 1.45rem!important;
	margin-right: 0.13rem!important;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
	display: block;
}
/*.wjy-xiaoboxhe{
	height: 2rem;
}*/
/*.swiper-slide-active{
	transform:scale(1.5);
}
.swiper-slide:first-child{
	margin-left:2.8rem;
}
*/
.wjy-foot{
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: -3.48rem;
	left: 0px;
}
.wjy-foot p:first-child{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #bfbebe;
	font-weight: bold;
}
.wjy-foot p:last-child{
	font-size: 10px;
	color: #bfbebe;
	margin-top: 0.28rem;
}
.wjy-y2 a{
	display: block;
	width: 100%;
	height: 100%;
}


























